* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --primary: #4D567F;
  --primary-hover: #383F5D;
  --secondary: #6D78A8;
  --secondary-hover: #8C95BA;
  --text: #515567;
  --paragraph: #989CAE;
  --border: #E4E7EF;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  height: 100vh;
  color: var(--text);
}

.line-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 8px;
  background-color: var(--primary);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: #FFF;
  z-index: 2;

  img {
    width: 160px;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        padding: 0 .5rem;
        border-right: 1px solid var(--primary);

        &:nth-last-child(1) {
          border-right: none;
        }

        a {
          color: var(--secondary);
          text-decoration: none;
          padding: .25rem .5rem;
          transition: all .2s linear;

          &:hover {
            background-color: var(--primary);
            color: #FFF;
          }
        }
      }
    }
  }
}

main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2.5rem 1rem;

  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    img {
      width: 100%;
    }

    p {
      color: var(--paragraph);
      line-height: 24px;
    }

    ul, ol {
      margin-left: 1.25rem;
      line-height: 24px;
      color: var(--paragraph);
    }

    hr {
      border: 1px solid var(--border);
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      width: 100%;
      margin: 0 auto;

      .inputs {
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 100%;
      }
      
      input {
        font-size: 1rem;
        padding: .5rem;
        border: 1px solid var(--border);
        width: 100%;
        color: var(--text);

        &::placeholder {
          opacity: .5;
        }

        &:focus {
          outline: none;
          border-color: var(--secondary);
        }

        &[type="submit"] {
          background-color: var(--primary);
          color: #FFF;
          cursor: pointer;
          transition: all .2s ease;

          &:hover {
            background-color: var(--primary-hover);
          }
        }
      }

      textarea {
        font-size: 1rem;
        padding: .5rem;
        border: 1px solid var(--border);
        width: 100%;
        resize: vertical;
        min-height: 80px;

        &::placeholder {
          opacity: .5;
        }

        &:focus {
          outline: none;
          border-color: var(--primary);
        }
      }
    }
  }
}

footer {
  background-color: var(--primary-hover);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem 0;
  color: var(--border);

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;

    .column {
      text-align: left;
      line-height: 24px;
      font-size: .875rem;
      padding: 1rem 0 4rem 0;
      
      .title {
        font-size: 1.125rem;
        line-height: 28px;
        color: #FFF;
      }

      a {
        color: #FFF;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    img {
      width: 100px;
    }

    nav {
      ul {
        li {
          a {
            font-size: .875rem;
          }
        }
      }
    }
  }

  main {
    section {
      form {
        .inputs {
          flex-direction: column;
        }
      }
    }
  }

  footer {
    .footer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem 3rem 1rem;

      .column {
        padding: 0;

        .title {
          font-size: .875rem;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  header {
    flex-direction: column;
    gap: 1.5rem;
  }
}